# Default ignored files
/../../kg-dry-schema/.idea/shelf/
/../../kg-dry-schema/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../kg-dry-schema/.idea/httpRequests/
# Datasource local storage ignored files
/../../kg-dry-schema/.idea/dataSources/
/../../kg-dry-schema/.idea/dataSources.local.xml
